.logo {
    display: flex; /* Habilita el layout flexible */
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 15px; /* Añade un pequeño espacio entre la imagen y el texto */
}